/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
i{
  color: #B1B1B1;
  margin: 8px;
  cursor: pointer;
}
.user_access{
  font-size: .8rem;
  color: gray;
}
.debug{
  border: 1px solid black;
}

/* COMMON RULES */
.aside_top,
.main_top{
  height: 60px;
}
.my_container,
.main_top,
.aside_top,
.my_user,
.notification_cercle_box,
.notification_settings,
.message_input{
  display: flex;
  align-items: center;
}
.my_container,
.notification_cercle_box{
  justify-content: center;
}
.aside_top,
.main_top,
.my_user,
.message_input{
  justify-content: space-between;
}

/* CONTAINER */
.my_container{
  background: linear-gradient(#009688 100px, #D6DBD8 100px);
  height: 100vh;
}
.chat_box{
  height: 90%;
  width: 80%;
  background-color: #EAEAEA;
  min-width: 792px;
}

/* ASIDE */
aside{
  width: 30%;
  overflow: hidden;
}
.user_img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.notification_settings{
  height: 60px;
  background-color: #8EDAFC;
}
.notification_cercle_box{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  color: #8EDAFC;
}
.notification_cercle_box i{
  color: #8EDAFC;
}
.notification_settings_text h3{
  font-size: 1rem;
}
.notification_settings_text p{
  color: gray;
  text-decoration: underline;
}
.chat_search {
  padding: 6px;
  height: 50px;
}
.chat_search input{
  font-size: .3;
}
.chats{
  background-color: white;
  overflow: scroll;
}
.chats .chat .message_time{
  color: gray;
  font-size: .7rem;
}
/* MAIN */
main{
  width: 70%;
}
.main_content{
  background: url(../img/mine.jpg);
  height: calc(100% - 120px);
  overflow-y: scroll;
}
.message_send,
.message_recived{
  width: 80%;
  margin: 0 auto;
}
.main_content .message{
  border-radius: 10px;
  margin: 8px;
  padding: 5px 10px;
}
.main_content .message span{
  padding: 10px;
}
.main_content .message.sent{
  background-color: #D5F9BA;
  max-width: 70%;
  display: flex;
  clear: both;
  float: right;
}
.main_content .message.received{
  max-width: 70%;
  background-color: white;
  display: flex;
  clear: both;
  float: left;
}
.message_input{
  height: 60px;
}
.message_input i {
  font-size: 1.5rem;
  margin: 0px 20px;
}

/* EFFECT HOVER */
.my_user:hover{
  cursor: pointer;
  background-color: lightgray;
  border-radius: 10px;
}
i:hover{
  cursor: pointer;
  scale: 1.3;
  color: grey;
}