/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
i{
  color: #B1B1B1;
  margin: 8px;
  cursor: pointer;
}
.user_access{
  font-size: .8rem;
  color: gray;
}
.debug{
  border: 1px solid black;
}
/* COMMON RULES */
.aside_top,
.main_top{
  height: 60px;
}

/* CONTAINER */
.my_container{
  background: linear-gradient(#009688 100px, #D6DBD8 100px);
  height: 100vh;
}
.chat_box{
  height: 90%;
  width: 80%;
  background-color: #EAEAEA;
  min-width: 792px;
}
/* ASIDE */
aside{
  width: 30%;
}
.user_img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
/* MAIN */
main{
  width: 70%;
}
/* EFFECT HOVER */
.my_user:hover{
  cursor: pointer;
  background-color: lightgray;
  border-radius: 10px;
}
i:hover{
  cursor: pointer;
  scale: 1.3;
  color: grey;
}